<div class="about-main-visual">
</div>
  <div class="about-main-content">
    <p class="about-main-title">「秋田くらす」って？</p>
    <p>年々人口減少がすすむ地方。</p>
    <p>その中でも、</p>
    <br>
    <p class="about-main-title">サイトの使い方</p>
    <p></p>
  </div>