<div class="about-main-visual">
</div>
  <div class="about-main-content">
    <p class="about-main-title">ようこそ、秋田くらすへ。</p>

    <p class="about-main-title">「秋田くらす」って？</p>
    
    <br>
    <p class="about-main-title">サイトの使い方</p>
    <p></p>
  </div>