<div class="post-edit">
  <p class="title">新規投稿</p>
  <%= render 'form', want_post: @want_post %>
  <p class="text-right"><i class="fas fa-hand-point-right"></i><%= link_to '投稿にもどる', want_post_path(@want_post) %></p>
</div>
