<div class="index">
  <p class="title">＼秋田に、住んでみたい人へ／</p>
</div>
  <div class="wrapper2">
    <div class="tag">
      <p class="title">タグ一覧</p>
      <% if @tags.present? %>
        <% @tags.each do |tag| %>
          <%= link_to "##{tag.name}", want_posts_tag_path(tag: tag.name), class: "tag_area" %>
        <% end %>
      <% else %>
          <p>登録されているタグはありません</p>
      <% end %>
    </div>
    <div class="post-index">
      <%= render 'index', want_posts: @want_posts %>
    </div>
  </div>
