<div class="post-edit">
  <p class="title">新規投稿</p>
  <%= render 'form', help_post: @help_post %>
  <p class="text-center"><%= link_to '投稿にもどる', help_post_path(@help_post), data: {"turbolinks" => false} %></p>
</div>
