<div class="index">
  <p class="title">＼秋田に、住んでみたい人へ／</p>

  <div class="search text-center">
    <%= search_form_for @q do |f| %>
      <%= f.search_field :body_or_title_cont, placeholder:"キーワード検索", size: 50 %>
      <%= f.collection_select :genre_id_eq, @genres, :id, :name, :include_blank => 'ジャンル' %>
      <button type="submit">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
  </div>
    <%= render 'index', help_posts: @help_posts %>
    <br>
</div>