/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery.tagit";
@import "tagit.ui-zendesk";


// グローバルナビゲーション

#g-nav{
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#ffb6b9;
    /*動き*/
	transition: all 0.6s;
}

#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
  text-align: center;
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
  width: 50px;
  height:50px;
}

/*×に変化*/
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
	background-color: #bbded6;
  width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

// フッター
footer {
  height: 100px;
  background-color: #ffb6b9;
  padding-top: 40px;
  text-align: center;
}

// 全体

p, a, table, .search, .comment {
  font-family: 'Kiwi Maru', serif;
}

a:link, a:visited, a:hover, a:active {
  color: #000;
}

.line {
  margin: 40px 0;
  border-width: 1px 0 0 0;
  border-style: dashed;
  border-color: #ffb6b9;
}

// トップページ

.wrapper {
  margin-top: 50px;
  background-color: #fae3d9;
  display: flex;
}

.top-want {
  width: 100%;
  padding: 30px 10px;
}

.top-help {
  width: 100%;
  padding: 30px 10px;
}

.divider {
  margin: 0 5px;
  width: 1px;
  background-color: #fff;
}

.main-visual {
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: image-url("top.png");
}

.main-visual-content {
  color: white;
  text-align: center;
  padding-top: 190px;
}

.new-post, .popular-post {
  display: flex;
}

.new-post-content, {
  background: #fff;
  height: 254px;
  width: 220px;
  padding: 10px;
  margin: 0 1% 17px;
  border-radius: 9px;
}

.popular-post-content {
  background: #fff;
  height: 284px;
  width: 220px;
  padding: 10px;
  margin: 0 1% 17px;
  border-radius: 9px;
}

.post-image {
  position: relative;
}

.post-image p {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.post-title {
  font-weight: bold;
}

.top-title {
  font-size: 30px;
}

.more {
  text-align: right;
}

// アバウトページ
.about-main-visual {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: image-url("about.png");
}

// 投稿詳細

.post {
  width: 60%;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  text-align: center;
}

.post-genre {
  font-size: 7px;
  text-align: right;
}

.post-created-at {
  text-align: right;
}

.post-edit-delete {
  text-align: center;
}

.post-like {
  text-align: center;
  padding: 2px 5px;
  margin: 50px 0;
  background: #ffb6b9;
  box-shadow: 0px 0px 0px 10px #ffb6b9;
  border: dashed 2px white;
}

.post-contents {
  margin: 80px;
}

.comment-delete {
  text-align: right;
}

// 投稿一覧

.index {
  width: 80%;
  margin: 40px auto;
}

.post-content {
  width: 350px;
  height: 290px;
  margin: 10px;
  display: inline-block;
}

.post-body {
  height: 80px;
  background: #fae3d9;
}

.search {
  padding: 20px 0;
}

.main-post-index {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

// プロフィール

.profile {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.nickname {
  font-size: 30px;
}

.introduce {
    position: relative;
    padding: 0.5em 0.7em;
    margin: 2em 0;
    background: #bbded6;
    color: #fff;
    font-weight: bold;
}
.introduce:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #bbded6;
    width: 0;
    height: 0;
}
.introduce p {
    margin: 0;
    padding: 0;
}

.user-content {
  text-align: left;
}

.profile-post {
  width: 70%;
  margin: 0 auto;
}

.new-post-link {
  text-align: center;
}

.post-link {
  margin: 0 auto;
  width: 400px;
  display: flex;
}

.link {  // 丸いリンクにする
  margin: 0 auto;
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  background: #ffb6b9;
  text-align: center;
  font-size: 14px;
}

// 新規登録、ログイン、プロフィール編集、新規投稿、投稿編集、【管理者】ジャンル一覧、ユーザー一覧・詳細、市町村一覧

.registrations-new, .sessions-new, .member-edit, .post-new, .post-edit, .genre-index, .admin-user-index, .town-index {
  width: 50%;
  margin: 50px auto;
  padding: 10px 10px;
  font-weight: bold;
  border: solid 3px #000000;
}

// 市町村一覧、タグ一覧
.wrapper2 {
  width: 1340px;
  margin: 50px;
  display: flex;
}

.map {
  margin-right: 30px;
}

.tag {
  width: 500px;
  margin-right: 30px;
}

.post-index {
  width: 898px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

// ページトップリンク

/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	bottom:30px;
	z-index: 2;
	opacity: 0;
	transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(150px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 100px;
	height: 100px;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size:0.6rem;
    /*背景画像の指定*/
	background: url("bird1.png") no-repeat center;
	background-size: contain;
}

#page-top.floatAnime a{
	width: 100px;
	height: 130px;
    /*背景画像の指定*/
	background: url("bird2.png") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 2s linear infinite;
	opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
    position: absolute;
    bottom: -20px;
    right: 20px;
	color: #666;
}
/*検証のためのCSS*/
section{
  padding: 500px 0;
}


// スライドショー

.top-image {
  width: 90%;
  margin: 0 auto;
}

.top-image1 {
  width: 80%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-url("top.png");
}

.top-image2 {
  width: 80%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-url("top.png");
}

.top-image3 {
  width: 80%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-url("top.png");
}

.slick-track {
  width: 80%;
  height: 500px;
}